body {
    background-color: #f2f0f0;
    color: #000000;
}

p {
    color: #000000;
}

#navbarNavDropdown > ul:last-child {
    margin-left: auto;
}

#app {
    min-height: 500px;
}

#footer {
     color: #ffffff;
}