{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center mt-3">
        <div class="col-7">
            <p>Title</p>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-7">
            <ul>
                <li>
                    <p>ingr1</p>
                </li>
                <li>
                    <p>ingr1</p>
                </li>
                <li>
                    <p>ingr1</p>
                </li>
                <li>
                    <p>ingr1</p>
                </li>
                <li>
                    <p>ingr1</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet earum eum iste maxime natus quod.
                Amet, assumenda blanditiis cum dolorem, dolorum enim esse, facere facilis nesciunt obcaecati quisquam
                ut.</p>
        </div>
    </div>
{% endblock %}